/* General Styles */
/* 
Mobile: 375px
Desktop: 1440px 
*/
:root {
  --pink: hsl(322, 100%, 66%);
  --palecyan: hsl(193, 100%, 96%);
  --darkcyan: hsl(192, 100%, 9%);
  --grayblue: hsl(208, 11%, 55%);
}

html {
  height: 100%;
  font-size: 18px;
}

body {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

h1 {
  color: var(--darkcyan);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

/* ----------- Header */
header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: stretch;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

.header > img {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: flex-start;
  order: 0;
}

.header__button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.03em 0.3em 0;
  background-color: #ffffff;
  color: #383737a8;
  box-shadow: 1px 1px 10px 0 #313232;
  border-radius: 2em;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: flex-end;
  font-family: Open Sans;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.header__button:hover {
  background-color: 179, 188, 194;
  color: 179, 188, 194;
}

/* ----------- Banner */
.banner {
  display: flex;
  flex-direction: row;
  background-image: url(./images/bg-hero-desktop.svg);
  background-size: auto;
}

.banner-info {
  display: flex;
  flex-direction: column;
}

.banner-info__button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.03em 0.3em 0;
  background-color: hsl(322, 100%, 66%);
  box-shadow: 1px 1px 10px 0 #313232;
  color: #383737a8;
  border-radius: 2em;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: flex-start;
  font-family: Open Sans;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.banner-info__button:hover {
  background-color: 179, 188, 194;
  color: 179, 188, 194;
}

/* ----------- Cards */
.card {
  display: flex;
  flex-direction: row;
  padding-bottom: 3rem;
  border-radius: 20px;
  box-shadow: 0 4px 8px black;
  border-color: red;
  width: 500px;
  height: 500px;
}

.card__info {
  display: flex;
  flex-direction: column;
}

.card-float {
  display: flex;
  flex-direction: column;
}

.footer-data {
  display: flex;
  flex-direction: row;
}

.card-float__button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.03em 0.3em 0;
  background-color: hsl(322, 100%, 66%);
  box-shadow: 1px 1px 10px 0 #313232;
  color: #383737a8;
  border-radius: 2em;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: center;
  font-family: Open Sans;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.card-float__button:hover {
  background-color: 179, 188, 194;
  color: 179, 188, 194;
}
