/* General Styles */
/* 
Mobile: 375px
Desktop: 1440px 
*/
:root {
  --pink: hsl(322, 100%, 66%);
  --palecyan: hsl(193, 100%, 96%);
  --darkcyan: hsl(192, 100%, 9%);
  --grayblue: hsl(208, 11%, 55%);
}

html {
  height: 100%;
}

body {
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

h1 {
  color: var(--darkcyan);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

/* Header */

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: stretch;
  background-size: cover;
  background-attachment: fixed;
}

.header > img {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: flex-start;
  order: 0;
}

.header__button {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  align-self: flex-end;
  order: 0;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  height: 50px;
  line-height: 50px;
  color: #000000;
  width: 200px;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  padding: 0;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 1px 10px 0 #313232;
  -moz-box-shadow: 1px 1px 10px 0 #313232;
  box-shadow: 1px 1px 10px 0 #313232;
  border: double #337fed 0;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

.header__button:hover {
  background-color: 179, 188, 194;
  color: 179, 188, 194;
}

/* Banner */
.banner {
  display: flex;
  flex-direction: row;
  background-image: url(./images/bg-hero-desktop.svg);
  background-size: auto;
}

.banner-info {
  display: flex;
  flex-direction: column;
}

.banner-info__button {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  align-self: flex-end;
  order: 0;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  height: 50px;
  line-height: 50px;
  color: #000000;
  width: 200px;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  padding: 0;
  background-color: hsl(322, 100%, 66%);
  -webkit-box-shadow: 1px 1px 10px 0 #313232;
  -moz-box-shadow: 1px 1px 10px 0 #313232;
  box-shadow: 1px 1px 10px 0 #313232;
  border: double #337fed 0;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.banner-info__button:hover {
  background-color: 179, 188, 194;
  color: 179, 188, 194;
}

/* Cards */
.card {
  display: flex;
  flex-direction: row;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px black;
  border-color: red;
    width: 500px;
    height: 500px;
}

.card__info {
  display: flex;
  flex-direction: column;
}

.card-float {
  display: flex;
  flex-direction: column;
}

.footer-data {
  display: flex;
  flex-direction: row;
}

.card-float__button {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  align-self: flex-end;
  order: 0;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  height: 50px;
  line-height: 50px;
  color: #000000;
  width: 200px;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  padding: 0;
  background-color: hsl(322, 100%, 66%);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.card-float__button:hover {
  background-color: 179, 188, 194;
  color: 179, 188, 194;
}
